body {
    height: 200vh;
}
.box {
    width: 200px;
    height: 200px;
    background-color: green;
    border: 15px solid red;
    padding: 15px 15px 15px 15px;
    margin: 15px 15px 15px 15px;
    box-sizing: border-box;
}
div {
    height: 200px;
    border: 3px solid black;
}
.red {
    background-color: red;
    position: relative;
    bottom: 10px;
    right: 10px;
    top: 10px;
}
.blue {
    background-color: blue;
    position: absolute;
    width: 100%;
    top:0%;
    left:0%
}
.child {
    background-color:grey ;
    height: 100px;
    width: 100px;
    position: absolute;
    box-sizing: border-box;
}
.chid {
    background-color: rgb(220, 20, 210);
    right:100px;
    border-top-left-radius: 100px;
    position: fixed;
    box-sizing: border-box;
}